* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}
.header-container {
    background-color: #120323;
    text-align: center;
    display: flex;
    color: #97bf04;
    justify-content: center;
    gap: 2em;
    padding: 1em;
}

h1 {
    padding-top: 1em;
}